<h2>物件一覧</h2>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
<% @properties.each do |property| %>
  <tr>
    <th><%= property.name %></th>
    <th><%= property.rent %>円</th>
    <th><%= property.address %></th>
    <th><%= property.age %>年</th>
    <th><%= property.note %></th>
    <th><%= link_to "詳細", property_path(property.id) %></th>
    <th><%= link_to "編集", edit_property_path(property.id) %></th>
    <th><%= link_to "削除", property_path(property.id), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %></th>
  </tr>
<% end %>
</table>
<%= link_to "物件を登録する", new_property_path %>
